<div id="profile-header">
  <button id="add_meds_button" class="orange_gradient" href="#" data-reveal-id="medFormModal">Add Meds</button>
  <button id="my_meds_button" class="orange_gradient">My Meds</button>
  <button id="schedule_button" class="orange_gradient">Drag Meds to Calendar</button>
  <h2 id="user_welcome"><%- name %></h2>
</div>