<div id="medFormFirst">
  <h4>New Medication</h4>
  <label>Name of Drug</label>
  <input type="text" name="medication[name]" id="medName">
  <label>Dosage</label>
  <input type="text" name="medication[dosage]">
  <button href="#" class="radius blue-gradient" id="medFormStep2">Next</button>
</div>