<div id="calendar">
  <div class="row" id="calendar_days">
      <div class="small-2 columns"><a href="#">Sunday</a></div>
      <div class="small-2 columns"><a href="#">Monday</a></div>
      <div class="small-2 columns"><a href="#">Tuesday</a></div>
      <div class="small-2 columns"><a href="#">Wednesday</a></div>
      <div class="small-2 columns"><a href="#">Thursday</a></div>
      <div class="small-2 columns"><a href="#">Friday</a></div>
      <div class="small-2 columns"><a href="#">Saturday</a></div>
  </div>
  <div class="row" id="pill_bins">
    <div class="small-2 columns bin"><ul data-day="Sunday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Monday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Tuesday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Wednesday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Thursday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Friday"></ul></div>
    <div class="small-2 columns bin"><ul data-day="Saturday"></ul></div>
  </div>
</div>

<div id="sidebar" class="side-nav left">
    <ul id="pill_list"></ul>
</div>

