<div class="icon-bar five-up icon-text">
  <a href="/" class="item" id="home_link">
      <label="My Pill Pal" class="nav-text" >
  <a href="/forum" class="item" id="forum_link">
    <img src="assets/fi-comments.svg">
    <label="Forum">
  <a href="/" class="item" id="demo_link">
    <img src="assets/fi-video.svg">
    <label="Demo" >
  <a href="/profile" class="item" id="profile_link">
     <img src="assets/fi-torso.svg">
     <label="Profile" >
  <a href="/signout" class="item" class="signin_out_link">
     <img src="assets/fi-eject.svg">
     <label="Sign Out">
</div>

