<div id="signInModal" class="reveal-modal small" data-reveal aria-labelledby="modalSignIn" aria-hidden="true" role="dialog">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#signin">Sign In</a></li>
    <li class="tab-title"><a href="#signup">Sign Up</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="signin">
      <p>
      <form></form>
    </p>
    </div>
    <div class="content" id="signup">
      <p>
        <%= JST["backbone/app/templates/_signup_tab"]({}) %>
     </p>
    </div>
  </div>
</div>