<form action="/signup" method="post" data-abide>
  <%= JST["backbone/app/templates/_signin_form_partial"]({}) %>

  <div class="password-confirmation-field">
    <label>Confirm Password</label>
    <input type="password" name="user[password]" required pattern="alpha_numeric">
    <small class="error">The password did not match</small>
  </div>
  <input type="submit" class="button new_session">
 </form>