<form action="/signin" method="post" data-abide>
    <div class="name-field">
      <label>Username</label>
      <input type="text_field" name="user[username]" required pattern="alpha_numeric">
      <small class="error">Name is required and must contain at least one letter.</small>
    </div>
    <div class="password-field">
      <label>Password</label>
      <input type="password_field" name="user[password]" id="password" required pattern="alpha_numeric">
      <small class="error">Your password can only contain letters and numbers.</small>
    </div>
    <input type="submit" class="button">
 </form>