 <div id="content-container">
  <div id="left" class="small-3 columns left">
    <p class="bold">Your Meds.</p>
    <p class="bold">Your Online Resource.</p>
    <% if (!user) { %>
      <a href="#" class="orange_gradient button modal" id="get_started" data-reveal-id="signInModal">Get Started</a>
    <% } else { %>
       <a href="/profile" class="orange_gradient button modal" id="button_to_profile">Get Started</a>
    <% } %>

    <div id="summary">
      My Pill Pal is your medical resource for community, scheduling and information all in one place!
    </div>
  </div>
  <div id="right" class="small-3 columns right">
    <p class="bold">Less Hassle.<p>
    <p class="bold">More of What Matters.</p>
    <div id="demo-buttons">
      <button class="orange_gradient">Watch Demo</button>
    </div>
  </div>
  <div id="carousel">
    <ul data-orbit>
      <li>
        <img src="assets/elderly-women.jpg">
      </li>
      <li>
        <img src="assets/elderly-happy.jpg">
      </li>
      <li>
        <img src="assets/grandkids.jpg">
      </li>
    </ul>
  </div>
</div>