<h1>Welcome, <%= @user.username if @user %> </h1>
<div id="calendar">
  <div class="row" id="calendar_days">
    <dl class="sub-nav">
      <dd class="small-2 columns"><a href="#">Monday</a></dd>
      <dd class="small-2 columns"><a href="#">Tuesday</a></dd>
      <dd class="small-2 columns"><a href="#">Wednesday</a></dd>
      <dd class="small-2 columns"><a href="#">Thursday</a></dd>
      <dd class="small-2 columns"><a href="#">Friday</a></dd>
      <dd class="small-2 columns"><a href="#">Saturday</a></dd>
      <dd class="small-2 columns"><a href="#">Sunday</a></dd>
    </dl>
  </div>
  <div class="row" id="pill_bins">
    <div class="row" data-equalizer>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
      <div class="small-2 columns panel" data-equalizer-watch></div>
    </div>
  </div>
  <div id="sidebar"%>
    <%= render @medications %>
  </div>
  <ul class="side-nav right">
  <li><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
</div>

