<div id="profile-header">
  <button id="add_meds_button" href="#" data-reveal-id="medFormModal">Add Meds</button>
  <button id="my_meds_button">My Meds</button>
  <button id="schedule_button">Drag Meds to Calendar</button>
  <h1 id="user_welcome" class="oleo">Welcome, <%- name %></h1>
</div>