<div id="medFormSecond">
  <h2 id="medFormModal2">Colorful Details</h2>
  <p>
    Refer to this drug by its generic or any other name?
  </p>
  <p id="medFormAliasPrompt">
    <input id="medFormAddAlias" type="radio" name="user_medication_alias_prompt" value="Yes">Yes
    <br>
    <input type="radio" name="user_medication_alias_prompt" value="No">No
  </p>
  <p id="medFormAliasField">
    <input type="text" name="user_medication[alias]">
  </p>

  <p>What color are the pills?</p>
  <input type="color" name="user_medication[color]">
  <input type="submit" class="button" id="submitMedForm">
</div>