<div id="medFormModal" class="reveal-modal small" data-reveal aria-labelledby="modalNewMeds" aria-hidden="true" role="dialog">
  <form action="/users/:user_id/medications" method="post" id="newMedForm">
    <div id="medFormFirst">
      <h4>New Medication</h4>
      <label>Name of Drug</label>
      <input type="text" name="medication[name]" id="medName">
      <label>Dosage</label>
      <input type="text" name="medication[dosage]">
      <button href="#" id="medFormStep2">Next</button>
    </div>
    <div id="medFormSecond">
      <h2 id="medFormModal2">Colorful Details</h2>
      <p>
        Refer to this drug by its generic or any other name?
      </p>
      <input id="medFormAlias" type="radio" name= "user_medication[alias]" value="Yes">Yes
      <br>
      <input type="radio" name="user_medication[alias]" value="No">No
      </p>

      <p>What color are the pills?</p>
      <input type="color" name="user_medication[color]">
      <input type="submit" class="button" id="submitMedForm">
    </form>
  </div>
</div>


