#carousel {
  position: relative;
  margin: auto;
  width: 50%;
}

.bold {
  font-weight: bold;
  font-size: 2rem;
}

#demo-buttons {
  margin-left: 10%;
  margin-right: 10%;
  buttons {
    background-color: white;
    color: #a0d3e8;
  }
}