body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  #container {
    background: url("prairie.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    width: 100%;
    height: 150%;

  }

  #content-container {
    height: 100%;
    padding-top: 2%;
    .orange_gradient {
      border-radius: 3px;
      background: linear-gradient(to bottom, #ff9c3c 0%,#ef7701 100%);
      margin-right: 5px;
    }
       .orange_gradient:hover {
        opacity: 0.9;
      }
  }
}


