// Place all the styles related to the UserMedications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-header {
  display: inline;
  margin: 10%;


  #user_welcome {
    font-family: "Raleway";
    float: right;
    margin-right: 10%;
  }
}

#calendar {
  width: 80%;
  margin: auto;

  #calendar_days {
    height: 20%;
    div {
      text-align: center;
      border-right: 2px #F4F4F4 solid;
      background-color: #4682B4;
      height: 40%;

      a {
       color: #F4F4F4;
      }

    }
  }

  #pill_bins {
      height: 10em;
      background-color: #FAFAFA;
      .bin {
        height: 100%;
        border-right: solid black 1px;

      ul {
        list-style: none;

        .med_buttons {
          padding-top: 4px;
        }

        .label {
          display: none;
        }

      }
    }
  }
}


#pill_list {
  display: none;
  list-style: none;
}

#schedule_button {
  display: none;
}

.blue-gradient {
   background: linear-gradient(to bottom, #4682B4 0%, #004080 100%);
}

#medFormSecond {
  display: none;
  color: black;

  #medFormAliasField {
    display: none;
  }
  #medFormSubmit {
    display: none;
  }
}
