// Place all the styles related to the UserMedications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-header {
  display: inline;
  margin: 4%;
  button {
    border-radius: 3px;
    background: linear-gradient(to bottom, #ff9c3c 0%,#ef7701 100%);
    margin-right: 5px;
  }
  h1 {
  font-family: "Oleo Script";
  float: right;
  }
}

#calendar {
  width: 80%;
  margin: auto;

  #calendar_days {
    height: 20%;
    div {
    text-align: center;
    border-right: 2px #F4F4F4 solid;
    background-color: #4682B4;
    height: 40%;

    a {
     color: #F4F4F4;
    }
    }
  }
}

#user_welcome {
  text-align: right;
  margin-right: 3%;
}

#pill_list {
  list-style: none;
}

#schedule_button {
  display: none;
}

#medFormSecond {
  display: none;
  #medFormAliasField {
    display: none;
  }
}