  <div id= "left" class="small-3 columns left">
    <p class="bold">Your Meds.<p>
    <p class="bold">Your Online Resource.</p>
    <div id="summary">
        My Pill Pall is your pill schedule, community resource and drug encyclopedia all in one place!
    </div>
  </div>
  <div id="right" class="small-3 columns right">
    <p class="bold">Less Hassle.<p>
    <p class="bold">More of What Matters.</p>
    <div id="demo-buttons">
      <button class="round small info">Watch</button><br>
      <button class="round small info">The</button><br>
      <button class="round small info">Demo</button>
    </div>
  </div>
  <div id="carousel">
    <ul data-orbit>
      <li>
        <%= image_tag "elderly-women.jpg" %>
      </li>
      <li>
       <%= image_tag "elderly-happy.jpg" %>
      </li>
      <li>
        <%= image_tag "grandkids.jpg" %>
      </li>
    </ul>
  </div>
