<div class="row"
  <div class="small-3 columns left">
    <p class="oleo">
      My Pill Pall is your one stop resource for your meds online. It's your pill schedule, community and drug encyclopedia all in one place so you can spend your time doing what really matters!
    </p>
  </div>
  <div id="carousel">
    <ul data-orbit>
      <li>
        <%= image_tag "elderly_women.jpg" %>
      </li>
      <li>
       <%= image_tag "elderly_women.jpg" %>
      </li>
      <li>
        <%= image_tag "elderly_women.jpg" %>
      </li>
    </ul>
  </div>
</div>