<div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Forum</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item" href="#" data-reveal-id="myModal">
    <img src="../assets/img/images/fi-like.svg" >
    <% if current_user %>
      <label>Sign In</label>
      <%= render 'layouts/signin_modal' %>
    <% else %>
      <label>Signout</label>
    <% end %>
  </a>
</div>