<div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Forum</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <% if !current_user %>
    <a class="item" href="#" data-reveal-id="myModal">
      <img src="../assets/img/images/fi-like.svg" >
      <label>Sign In</label>
      <%= render 'layouts/signin_modal' %>
    </a>
    <% else %>
      <%= link_to signout_path, class:"item" do %>
       <%= image_tag "assets/img/images/fi-like.svg"%>
       <%= label_tag "Sign Out"%>
      <% end %>
    <% end %>
</div>