<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <form data-abide>
    <div class="name-field">
      <label>Username <small>required</small>
        <input type="text" required pattern="alpha alphanumeric">
      </label>
      <small class="error">Name is required and must contain at least one letter.</small>
    </div>
    <div class="password-field">
      <label>Password <small>required</small>
        <input type="password" id="password" required pattern="alpha_numeric">
      </label>
      <small class="error">Your password must at least one letter and one number.</small>
    </div>
    <div class="password-confirmation-field">
      <label>Confirm Password <small>required</small>
        <input type="password" required pattern="alpha_numeric" data-equalto="password">
      </label>
      <small class="error">The password did not match</small>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>