<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel1">Sign In</a></li>
    <li class="tab-title"><a href="#panel2">Sign Up</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel1">
      <p>
      <%= render 'sessions/new' %>
    </p>
    </div>
    <div class="content" id="panel2">
      <p>
       <%= render 'users/new' %>
     </p>
    </div>
  </div>
</div>
